@import 'tailwindcss';

@theme {
  --color-canvas-dark: rgba(10, 13, 21);
  --color-canvas-light: rgba(238, 241, 247);

  --color-eerieblack: rgba(34, 30, 27);
  --color-gray-vsdark: rgb(30, 30, 30);

  --breakpoint-em32: 32rem;
  --breakpoint-em42: 42rem;
  --breakpoint-em64: 64rem;

  --animate-flash: flash 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes flash {
    50% {
      opacity: 0.7;
    }
  }
}
@theme inline {
  --font-mono: var(--font-sourcecodepro);
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

.shiki,
.shiki span {
  background-color: transparent !important;
}

:root {
  --transform-boost: 2;
}

@media screen and (min-width: 64rem) {
  :root {
    --transform-boost: 1;
  }
}
